@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Cinzel:wght@400;500;600;700&family=Oswald:wght@200&family=Tinos&family=Vollkorn&display=swap');

* {margin: 0; padding: 0; width: 100%;}

body {
  width: 100%;
  height: 100vh;
  background: #010424 url('../imagens/background-crew-mobile.jpg') center no-repeat fixed;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


header {
  width: 100%;
  height: 13vh;
}

nav {
  display: none;
}

nav li {
  list-style: none;
  margin: 7% 0%;
}

nav a {
  color: white;
  text-decoration: none;

}

nav a:hover{
  font-size: 1.2rem;
  color: lightgray;
}

#check:checked ~ nav{
  display: block;
  text-align: center;
  padding-top: 20vh;
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  height: 100vh;
  
}

input#check {
  position: absolute;
  margin-left: 39%;
  margin-top: 4vh;
  display: none;
}

label img{
  width: 8%;
  margin-left: 85vw;
  margin-top: 4vh;
  position: absolute;
  z-index: 1;
}

img#logo {
  width: 9.5%;
  position: absolute;
  margin-top: 3vh;
  margin-left: 5.7vw;
}


h1 {
  text-align: center;
  font-weight: lighter;
  font-family: 'Oswald', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  color: whitesmoke;
  margin-top: 2vh;
}

img {
  margin: 2vh 0vh;
  margin-bottom: 1vh;
  width: 55vw;
  display: flex;
  margin: auto;
  
}


main {
  text-align: center;
}

main h1 {
  font-family: 'Cinzel', serif;
  font-weight: lighter;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
}

h1#crew {
  font-family: 'Cinzel', serif;
  font-size: 1.1rem;
}

h1#one {
  margin-bottom: 3vh;
}

h1#one span {
  margin-right: 0%;
  font-size: 0.8rem;
}

h1 span {
  display: block;
  font-family: 'Cinzel', serif;
  font-size: 4.5rem;
  font-weight: lighter;
  margin-top: 1.9vh;
} 

p {
  text-align: center;
  margin: auto;
  margin-top: 3vh;
  padding-bottom: 15vh;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  width: 88vw;
  font-size: 0.85rem;
  color: whitesmoke;
}

div.Equipe div {
  display: inline-block;
  width: 0.65rem;
  height: 0.65rem;
  background-color: rgba(225, 225, 225, 0.3);
  border-radius: 50%;
  margin: 1.7%;
  margin-top: 8%; 
}

div.Equipe div:hover {
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  background-color: whitesmoke;
}



@media (min-width: 720px) {
  
* {margin: 0; padding: 0;}
  
body {
  width: 100%;
  height: 100vh;
  background: #010424 url('../imagens/background-crew-desktop.jpg') center no-repeat fixed;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  overflow-x: hidden;
}

label img {display: none;}


header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  vertical-align: middle;
}


nav li {
  margin-top: 5vh;
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 6% 8% 6% 2%;
}

nav {
  width: 70vw;
  position: absolute;
  display: block;
  margin-left: 30vw;
}

nav, ul, li {
  display: flex;
  font-size: 1.6vw;
  vertical-align: middle;
  text-align: center;
}

nav a:hover, a:active {
  font-size: 1.6vw;
  color: linen;
  text-decoration: underline;
}

img#logo {
  width: 4.5%;
  margin: 6vh 0vw 0vh 5vw;
}


main {
  margin-top: 10%;
}


h1#one {
  text-align: left;
  width: 40vw;
  margin-left: 10%;
  font-size: 1.9vw;
  font-family: 'Oswald', sans-serif;
}
h1#one span {
  font-size: 1.9vw;
  font-family: 'Oswald', sans-serif;
}
h1#carg { 
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 2.3vw;
}
h1#crew {
  font-size: 3.6vw;
  text-align: left;
  line-height: 2rem;
}

section {
  position: absolute;
  width: 40vw;
  height: 30vw;
  margin-top: 5.8%;
  text-align: left;
  left: 10%;
}

section p {
  width: 40vw;
  text-align: left;
  font-size: 1.4vw;
  line-height: 3.1vw;
  letter-spacing: 0.115%;
}

.Equipe{
  position: absolute;
  bottom: 0;
}

.Equipe div {
  width: 1rem;
  height: 1rem;
}

main img {
  width: 28vw;
  position: absolute;
  right: 10vw;
  bottom: 0vw;
  margin: 0;
  top: 20vw;
}


}
