@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Cinzel:wght@400;500;600;700&family=Oswald:wght@200&family=Tinos&family=Vollkorn&display=swap');

* {margin: 0; padding: 0;}

body{
  width: 100%;
  height: 100vh;
  background: #010424 url('../imagens/background-destination-mobile.jpg') center no-repeat fixed;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}



header {
  width: 100%;
  height: 13vh;
}

nav#navegacao {
  display: none;
}

nav li {
  list-style: none;
  margin: 7% 0%;
}

header nav a {
  color: white;
  text-decoration: none;

}

header nav a:hover {
  font-size: 1.2rem;
  color: lightgray;
}

#check:checked~nav {
  display: block;
  text-align: center;
  padding-top: 20vh;
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  height: 100vh;

}

input#check {
  position: absolute;
  margin-left: 39%;
  margin-top: 4vh;
  display: none;
}

label img {
  width: 8%;
  margin-left: 85vw;
  margin-top: 4vh;
  position: absolute;
  z-index: 1;
}

img#logo {
  width: 9.5%;
  position: absolute;
  margin-top: 3vh;
  margin-left: 5.7vw;
}



main {
  text-align: center;
}

main h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
}


img {
  width: 50vw;
  margin: 5vh 0vw;
}

nav.destinos {
  width: 100%;
}

nav.destinos a {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: whitesmoke;
  font-weight: lighter;
  font-size: 0.85rem;
  letter-spacing: 0.15rem;
  padding: 2% 3.5%;
  margin: 0;
}

nav.destinos a:hover, a:active {
  border-bottom: 2px solid white;
}

h1#destin {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-size: 2.5rem; 
  margin: 5vh 0vw 0vh 0vw;
}

p {
  margin: auto;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  width: 90vw;
  font-size: 0.85rem;
  color: whitesmoke;
  margin-bottom: 5vh;
}



div.infor { 
  padding: 5vh;
}

div span.t-dado {
  font-family: 'Oswald', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: lightgrey;
}

div span.dado {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  margin-top: 1vh;
  display: block;
}

hr {
  border: 0;
  height: 0.5px;
  width: 88%;
  background-image: linear-gradient( #42445A, lightgray, #000, transparent);
  margin: auto;
}




@media (min-width: 720px) {
  
* {margin: 0; padding: 0;}
  
body {
  width: 100%;
  height: 100vh;
  background: #010424 url('../imagens/background-destination-desktop.jpg') center no-repeat fixed;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  overflow-x: hidden;
}

label img {display: none;}


header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  vertical-align: middle;
}


#navegacao li {
  margin-top: 5vh;
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 6% 8% 6% 2%;
}

nav#navegacao {
  width: 65vw;
  display: block;
  position: absolute;
  margin-left: 42vw;
}

nav#navegacao ul, li {
  display: flex;
  font-size: 1.6vw;
  vertical-align: middle;
  text-align: center;
}

nav#navegacao a:hover, a:active {
  font-size: 1.6vw;
  color: linen;
  text-decoration: underline;
}

img#logo {
  width: 4.5%;
  margin: 6vh 0vw 0vh 5vw;
}


h1#ti {
  font-size: 2vw;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 5%;
}

img#Astro {
  width: 30%;
  position: absolute;
  left: 10%;
  margin: auto;
  margin: 2%;
}

main {
  margin-top: 10%;
}

section {
  position: absolute;
  width: 40vw;
  right: 4%;
  margin-top: 0%;
}

section h1#destin {
  font-size: 7vw;
  text-align: left;
  margin-left: 1.7%;

}

section nav.destinos a {
  font-size: 1.5vw;
  padding: 0% 1% 2.7% 1.50%;
}

nav.destinos{text-align: left;}

p {
  width: 40vw;
  text-align: left;
  font-size: 1.4vw;
  line-height: 2.1rem;
  letter-spacing: 0.115%;
}

hr {display: none;}

div#informacoes {
  display: flex;
}
div.infor{
  margin: 0;
  margin-top: 6%;
  padding: 0;
  width: 20vw;
  text-align: left;
  border-top: 0.07vw solid grey;
  padding-top: 5%;
}

div.infor span.t-dado{
  font-size: 1.3vw;
}

div.infor span.dado {font-size: 2.2vw;
  margin-top: 4%;
}

}
